header .header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-logo img{
    height: 1.188em;
}
@media only screen and (max-width: 768px){
    header .header-logo {
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}