@import "./card-accommodation.css";
@import "./card-popular.css";

.accommodation {
	/* width: 100%; */
	display: flex;
	gap: 2.5em;
	padding-inline: 2.813em;
	margin-bottom: 3.75em;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.accommodation {
		/* background-color: red; */
		/* display: unset; */
		flex-direction: column-reverse;
		width: unset !important;
		gap: 53px;
		margin-bottom: 70px;
	}

}
@media only screen and (max-width: 768px){
	.accommodation {
		/* background-color: red; */
		/* display: unset; */
		flex-direction: column-reverse;
		width: unset !important;
		gap: unset;
		
		margin-bottom: 105px;
		padding-inline:0;
	}
}