@import url('./nav-btn.css');

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.64em;
    /* height: 9vw; */
}
@media only screen and (max-width: 768px){
    nav {
        display: flex;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* height: 8.64em; */
        height: 0%;
        width: 100%;
        justify-content: center;
        margin-top: 48.62px;
        /* margin: 0; */
        margin: 9px solid red;
        /* background: orange; */
    }
}
